<%= provide(:title, "Home") %>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @posts.each do |p| %>
        <div class="post-preview">
          <a href="<%= post_path(p) %>">
            <h2 class="post-title">
              <%= p.title %>
            </h2>
            <h3 class="post-subtitle">
              <%= p.subtitle %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"><%= p.author %></a>
            on <%= p.created_at %>
          </p>
        </div>
      <% end %>

      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>
