<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <%= form_for(@post) do |f| %>
        <div class="control-group">
          <div class="form-group controls">
            <%= f.label :title %><br>
            <%= f.text_field :title, class: "form-control", autofocus: true %>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group controls">
            <%= f.label :subtitle %><br>
            <%= f.text_field :subtitle, class: "form-control" %>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group controls">
            <%= f.label :author %><br>
            <%= f.text_field :author, class: "form-control" %>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group controls">
            <%= f.label :content %><br>
            <%= f.text_area :content, class: "form-control", :rows => 10 %>
          </div>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit "Add Post", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
